<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 处理器
	<bean class="com.allinpay.its.training.controller.Test2AnnotationController"/>-->
	
	<!-- 处理器
	<bean class="com.allinpay.its.training.controller.Test3MoreURI2Controller"/>-->
	
	<!-- 处理器
	<bean class="com.allinpay.its.training.controller.Test4MTempletController"/>-->
	
	<!-- 处理器
	<bean class="com.allinpay.its.training.controller.Test5MTempletRegexController"/>-->
	
	<!-- 处理器
	<bean class="com.allinpay.its.training.controller.Test6RequestParamController"/>-->
</beans>