<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redsun.connect.pool.dao.TestMapper" >
  <resultMap id="BaseResultMap" type="com.redsun.connect.pool.entity.TestEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.redsun.connect.pool.entity.TestEntity"
          keyProperty="id" useGeneratedKeys="true">
    insert into test (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.redsun.connect.pool.entity.TestEntity" >
    update test
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>